/* Color variables used throughout the CSS */
:root {
    --lunarblue: #2E9CFB;
    --darklunarblue: #04203A;
    --moonrock: #EEEEEE;
    --eerieglow:#FDDC74;
}
/* sets background of the page and text of all text to correct colors */
* {
    background-color: var(--lunarblue);
    color: var(--moonrock);
}


header {
    background-color: var(--darklunarblue);
    /* background-color: var(--eerieglow); */
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

header button {
    /* background-color: var(--darklunarblue); */
    background-color: var(--eerieglow);
    color: var(--darklunarblue);
    font-family: fantasy;
    padding: .25%;
    border: none;
}

header span {
    /* background-color: var(--darklunarblue); */
    background-color: var(--eerieglow);
    color: var(--darklunarblue);
    font-family: fantasy;
    padding: .25%;
}


h1 {
    text-align: center;
    margin-top: 15%;
    font-family: cursive;
    font-size: 300%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

form{
    font-size: 150%;
    font-weight: bolder;
    font-family: cursive;
}

/* EDITS CSS ON SPECIFIC IDs */
#opening, #ending{
    text-align: center;
    margin-top: 3%;
}


#highscoreul, #questionsol {
    text-align: center;
}

#highscoreul ul {
    display: inline-block;
    width: 50%;
    font-size: 28px;
    text-align: center;
    background-color: var(--eerieglow);
    border-radius: 25%;
    border: 25px groove var(--darklunarblue);
}

#highscoreul li {
    font-family: cursive;
    list-style-type: none;
    margin: 10px;
    width: 50%;
    margin-left: 25%;
    letter-spacing: 10px;
    background-color: black;
    color: var(--moonrock);
}

#questionsol ol {
    display: inline-block;
    width: 50%;
    font-size: 28px;
    text-align: center;
    background-color: var(--eerieglow);
    border-radius: 25%;
    border: 25px groove var(--darklunarblue);
}

#questionsol button {
    font-family: sans-serif;
    list-style: circle;
    margin: 10px;
    width: 50%;
    letter-spacing: 10px;
    background-color: black;
    color: var(--moonrock);
}

#startButton, #restartButton, #submitButton, #clearButton {
    margin-top: 40px;
    background-color: var(--eerieglow);
    color: var(--darklunarblue);
    font-family: fantasy;
    font-size: 24px;
    padding: 10px;
    border-width: 7.5px;
    border-color: var(--darklunarblue);
    border-radius: 10px;
}

